<p>
    doom-fool works!
</p>


<form class="contactsForm" (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
    <!-- (ngSubmit)="submitForm(myForm)" #myForm="ngForm" -->
    <div>
        <p>Person:</p>
        <input type="text" #thePersonName>
        <!-- [(ngModel)]="thePerson.name" -->
    </div>

    <div>
        <p>Message:</p>
        <input type="text" #thePersonMessage>
        <!-- [(ngModel)]="thePerson.message" -->
    </div>

    <!-- <button class="formButton" (click)="addAccessItem (newContactName.value, newContactMessage.value)"> -->
    <button type="submit" (click)="addAccessItem (thePersonName.value, thePersonMessage.value)">
      Submit that shit
    </button>

    <!-- <button (click)="something ('guio')">
      Submit that!!!!
    </button> -->

</form>